.Updates{
    width: 85%;
    background: white;
    border-radius: 0.7rem;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 13px;
}
body.dark-theme .Updates {
    background-color: var(--dark-secondary-color);
    color: var(--dark-text-color);
    box-shadow: var(--dark-box-shadow);
  }
  
  body.dark-theme .Updates .update {
    background-color: var(--dark-secondary-color);
    color: var(--dark-text-color);
  }
  
  body.dark-theme .Updates .update:hover {
    background-color: var(--dark-row-hover-color);
    color: var(--dark-primary-color);
  }
  
.update{
    display: flex;
    gap: 0.5rem;
}

.update>img{
    width: 3.2rem;
    height: 3.2rem;
}

.noti>div>span:nth-of-type(1){
    font-weight: bold;
}