:root {
  --primary-color: #3f51b5;
  --secondary-color: white;
  --background-color: #f9f9f9;
  --text-color: #333;
  --header-background-color: #3f51b5;
  --header-text-color: black;
  --row-hover-color: #e3f2fd;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  --border-radius: 12px;
}

.TableContainer {
  margin: 20px;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.Header h3 {
  margin: 0;
}

.Header Button {
  margin-left: auto;
}

.Table {
  border-radius: var(--border-radius) !important;
  overflow: hidden;
  background: #fff;
  box-shadow: var(--box-shadow);
  margin: 20px 0;
  border-collapse: separate;
  border-spacing: 0;
}

.Table th,
.Table td {
  padding: 16px;
  text-align: left;
  vertical-align: middle;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.clicked-cell {
  background-color: var(--secondary-color) !important;
  color: #fff !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.MuiTableRow-root.MuiTableRow-head > * {
  font-weight: 700 !important;
  background-color: var(--header-background-color);
  color: var(--header-text-color);
  border-bottom: 2px solid var(--primary-color);
}
.MuiTableCell-root {
  padding: 8px; /* Adjust the padding as needed */
}

.Table tr:hover td {
  background-color: var(--row-hover-color);
  color: var(--primary-color);
}

.Table tr:last-child td {
  border-bottom: none;
}

.ButtonGroup button {
  margin-right: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 8px 16px;
  border-radius: var(--border-radius);
  border: none;
}

.ButtonGroup .view-button {
  background-color: var(--primary-color);
  color: #fff;
}

/* CSS for the selected row with hover effect */
.selected-row {
  background-color: var(--secondary-color) !important;
  color: cornsilk;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.selected-row:hover {
  background-color: slategray !important;
  color: #fff !important;
}
